# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts


# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl

# Terraform ECS
terraform-ecs/.terraform/
terraform-ecs/*.tfstate
terraform-ecs/*.tfstate.backup
terraform-ecs/.terraform.lock.hcl

# Terraform2
terraform2/.terraform/
terraform2/*.tfstate
terraform2/*.tfstate.backup
terraform2/.terraform.lock.hcl

# Catch-all for any .terraform directories
**/.terraform/

# ssh keys
my-key
my-key.pub
*.key
id_rsa
id_rsa.pub
