mode: deployment

config:
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: "0.0.0.0:4317"
        http:
          endpoint: "0.0.0.0:4318"

  processors:
    batch:
      timeout: 5s
      send_batch_size: 1000

  exporters:
    prometheusremotewrite:
      endpoint: "http://kube-prometheus-prometheus.monitoring.svc.cluster.local:9090/api/v1/write"

    otlphttp/loki:
      endpoint: "http://loki.monitoring.svc.cluster.local:3100/otlp"

  service:
    pipelines:
      metrics:
        receivers: [otlp]
        processors: [batch]
        exporters: [prometheusremotewrite]

      logs:
        receivers: [otlp]
        processors: [batch]
        exporters: [otlphttp/loki]

resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "256Mi"
