grafana:
  enabled: true
  adminPassword: "admin123"
  service:
    type: LoadBalancer
  persistence:
    enabled: false

prometheus:
  prometheusSpec:
    resources:
      requests:
        cpu: "200m"
        memory: "512Mi"
      limits:
        cpu: "500m"
        memory: "1Gi"
    retention: 7d
    storageSpec: {}

alertmanager:
  enabled: true
  alertmanagerSpec:
    resources:
      requests:
        cpu: "50m"
        memory: "64Mi"
      limits:
        cpu: "100m"
        memory: "128Mi"

nodeExporter:
  enabled: true

kubeStateMetrics:
  enabled: true
