- hosts: app
  become: yes

  tasks:

    - name: Update apt
      apt:
        update_cache: yes

    - name: Install git and curl
      apt:
        name:
          - git
          - curl
        state: present

    - name: Install NodeJS
      shell: |
        curl -fsSL https://deb.nodesource.com/setup_18.x | bash -
        apt-get install -y nodejs
      args:
        executable: /bin/bash

    - name: Install PM2
      npm:
        name: pm2
        global: yes
