name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ubuntu
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/LudoMaster || git clone https://github.com/Kushagrpaliwal/LudoMaster.git ~/LudoMaster && cd ~/LudoMaster
            git pull origin main
            npm install
            pm2 restart all || pm2 start npm --name "ludomaster" -- run dev
