name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup SSH key
        run: |
          echo "${{ secrets.EC2_SSH_KEY }}" > key.pem
          chmod 600 key.pem

      - name: Create app directory on EC2
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@15.206.221.137 "mkdir -p /home/ubuntu/app"

      - name: Rsync project files to EC2
        run: |
          rsync -avz \
            --exclude '.git' \
            --exclude 'node_modules' \
            -e "ssh -i key.pem -o StrictHostKeyChecking=no" \
            ./ ubuntu@15.206.221.137:/home/ubuntu/app

      - name: Install dependencies and restart app
        run: |
          ssh -i key.pem -o StrictHostKeyChecking=no ubuntu@15.206.221.137 << 'EOF'
          cd /home/ubuntu/app
          npm install
          pm2 restart all || pm2 start index.js
          EOF
